@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #ffffff;
}
:root, [data-theme] {
  background-color: var(--fallback-b1, oklch(0.96 0 0));
  color: var(--fallback-bc, oklch(var(--bc) / 1));
}

@media (prefers-color-scheme: white) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}


